@import "../utils/functions.scss";
.main {
    display: flex;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding-left: rem(20);
    position: relative;
    .side_container {
        position: sticky;
        top: calc(2rem + 82px);
        width: 14rem;
        display: flex;
        flex-direction: column;
        height: calc(100vh - 82px - 2rem);
        overflow-y: auto;
        border-right: 2px solid var(--border-color-3);
        h6 {
            margin-bottom: 1.2rem;
        }
        .link {
            font-size: 15px;
            color: var(--gray-2);
            margin-bottom: 1rem;
            &:before {
                content: "";
                width: 6px;
                height: 6px;
                border-radius: 3px;
                margin-right: 1rem;
                background: var(--gray-1);
                transition: 0.3s;
            }
            &:hover {
                color: var(--primary);
                &:before {
                    margin-right: 1.4rem;
                }
            }
            &.active {
                color: var(--primary);
                &:before {
                    background: var(--primary);
                }
            }
        }
    }

    .container {
        flex: 1;
        min-width: 0;
        .sub_container {
            flex: auto;
            width: 100%;
            padding: 0 clamp(1rem, 3rem, 5rem);
        }
    }

    h1,
    h4 {
        margin-top: 2.4rem;
        margin-bottom: 1.3rem;
    }
    h1,
    h3,
    p,
    ul,
    li,
    td {
        code {
            font-family: SFMono-Regular, Menlo, Monaco, Consolas, monospace;
            font-size: 14px;
            color: #8d66d6;
        }
    }
    // ul {
    //     padding-left: 1.2rem;
    //     margin-top: 1.5rem;
    //     margin-bottom: 2rem;
    //     line-height: 1.7;
    //     list-style: disc;
    // }
    code,
    code span {
        font-family: SFMono-Regular, Menlo, Monaco, Consolas, monospace !important;
        font-size: rem(15);
    }
    code.hljs {
        border-radius: rem(10);
        padding: 1rem 2rem;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .hljs::-webkit-scrollbar {
        display: none;
    }
    span > code {
        margin: 1rem 1.5rem;
    }
    section {
        scroll-margin-top: 7rem;
        @media screen and (max-width: 43em) {
            scroll-margin-top: 6rem;
        }
    }
    .description {
        font-weight: 500;
        text-align: center;
    }
}

.palette {
    display: grid;
    height: rem(140);
    grid-template-columns: repeat(7, 1fr);
    & > div {
        display: flex;
        flex: 1;
        justify-content: space-between;
        flex-direction: column;
        color: white;
        padding: 0.5rem;
        font-size: 0.8rem;
    }
}
.util-colors {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    color: var(--white);
    span {
        display: inline-block;
        padding: 1rem;
        font-size: 0.8rem;
        color: inherit;
        text-align: center;
        flex: 1;
    }
}
.text-doc-container {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    label {
        margin: 0;
        &::before {
            font-size: 0.8rem;
            // margin-right: 1.5rem;
            color: var(--gray-1);
            font-weight: 500;
            width: 4rem;
            margin-right: 1.5rem;
            display: inline-block;
            text-align: right;
        }
    }
    h1::before {
        content: "2.48 rem";
    }
    h2::before {
        content: "2.07 rem";
    }
    h3::before {
        content: "1.72 rem";
    }
    h4::before {
        content: "1.44 rem";
    }
    h5::before {
        content: "1.2 rem";
    }
    h6::before {
        content: "1.08 rem";
    }
    p::before {
        content: "1 rem";
    }
    label::before {
        content: "0.8 rem";
    }
}

.element_container {
    border: 1px solid var(--border-color-3);
    background: var(--element-container-bg);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 0.7rem;
    margin-bottom: 1rem;
    gap: rem(15);
    .icon-badge {
        margin-right: 1rem;
    }
    &.align_center {
        align-items: center;
    }
    &.column {
        flex-direction: column;
    }
    &.block {
        display: block;
    }
    .round {
        width: 31%;
    }
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.25rem;
    align-items: baseline;
}
.hero-container {
    background-image: url("/images/new.png");
    background-size: cover;
    height: 9rem;
    border-radius: 0.5rem;
    background-color: var(--primary);
    position: relative;
    color: var(--white);
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding: 1rem 3rem;
    .text {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        h1 {
            margin: 0.7rem 0;
            line-height: 1;
        }
        p {
            font-size: 0.9rem;
            width: 50%;
            line-height: 1.2;
        }
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        z-index: 0;
        background: radial-gradient(70.02% 150.4% at 20.67% 24.02%, #3bb77e 0%, #3bb77ed9 55.59%, #ffffff00 100%);
    }
}
.no-scroll {
    overflow: hidden;
}
.col-block {
    background: var(--primary-light);
    text-align: center;
    margin-bottom: 1rem;
    padding: 1rem;
    span {
        font-size: 1.2rem;
        font-weight: 600;
        &:last-of-type {
            display: block;
            font-size: 0.75rem;
            font-weight: 500;
            color: var(--gray-2);
        }
    }
}
#list .element_container {
    padding-inline: 2rem;
    justify-content: space-between;
}
.mobile {
    display: none;
}
.list-style-none {
    p {
        margin-bottom: 0;
    }
    span {
        font-size: 0.8rem;
        color: var(--gray-3);
    }
}
.text-doc-container {
    margin-bottom: 2rem;
}
.fl-table {
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    background-color: var(--table-bg);
    margin-bottom: 2rem;
    td,
    th {
        padding: 0.6rem 1rem;
        text-align: left;
    }

    td {
        border-right: 1px solid var(--table-bg-odd);
        font-size: 0.9rem;
        &:first-child {
            width: 20%;
            white-space: nowrap;
        }
    }

    thead th {
        color: #ffffff;
        background: var(--black);
        border-radius: 0 10px 0 0;
    }

    thead th:nth-child(odd) {
        border-radius: 10px 0 0 0;
    }

    tr:nth-child(even) {
        background: var(--table-bg-odd);
    }
}

@media screen and (max-width: 75em) {
    .horizontal,
    .text {
        &.responsive-2 {
            grid-template-columns: 1fr;
        }
        .card:nth-child(2) {
            display: none;
        }
    }
}

@media screen and (max-width: 63em) {
    .main .side_container {
        width: 12rem;
    }
    .main .container .sub_container {
        padding: 1.2rem;
    }
    .basic.responsive-3,
    .overlay.responsive-3 {
        grid-template-columns: 1fr 1fr;
    }
    .overlay .card:nth-child(1) {
        display: none;
    }
    .basic .card:nth-child(3) {
        display: none;
    }
}

@media screen and (max-width: 50em) {
    .main {
        padding: 0;
        .side_container {
            display: none;
        }
    }
}

@media screen and (max-width: 43em) {
    .palette {
        grid-template-columns: repeat(4, 1fr);
    }
    .util-colors {
        grid-template-columns: repeat(4, 1fr);
    }
    .col-block {
        span {
            font-size: 0.9rem;
            &:last-of-type {
                font-size: 0.6rem;
            }
        }
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}

@media screen and (max-width: 32em) {
    .basic.responsive-3,
    .overlay.responsive-3 {
        grid-template-columns: 1fr;
    }

    .basic .card:nth-child(2) {
        display: none;
    }

    .hero-container {
        padding: 1rem 2rem;
        .text p {
            width: 70%;
        }
    }
}
