@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Medium.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-SemiBold.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
:root {
    --clr-page-text: var(--clr-black);
    --clr-page-bg: #f7f7f7;
    --clr-header-bg: var(--clr-white);
    --clr-label-white: #707070;
    --clr-input-bg: #e5e5e563;
    --clr-error: #f66969;
    --clr-element-container-bg: var(--clr-white);
    --clr-table-bg: var(--clr-white);
    --clr-table-bg-odd: #f8f8f8;
    --clr-svg-layer-1: #f2fdf6;
    --clr-svg-layer-2: #c6f6d5;
}
.dark-theme {
    --clr-page-text: var(--clr-white);
    --clr-page-bg: #222222;
    --clr-page-dark-bg: #1e1e1e;
    --clr-header-bg: var(--clr-page-dark-bg);
    --clr-element-container-bg: var(--clr-page-dark-bg);
    --clr-table-bg: #2d2d2d;
    --clr-table-bg-odd: #222222;
    --clr-svg-layer-1: #2e2e2e;
    --clr-svg-layer-2: #b2ddbc;
}

html,
body {
    padding: 0;
    margin: 0;
    background-color: var(--clr-page-bg);
    font-size: 100%;
    color: var(--clr-page-text);
    line-height: 1.5em;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}

.header {
    border-bottom: 1px solid var(--clr-border-color-3);
    position: sticky;
    background: var(--clr-header-bg);
    top: 0;
    z-index: 10;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1240px;
        margin: auto;
        align-items: center;
        padding: 1.25rem;
    }
    &__logo {
        width: 110px;
    }
    &__links {
        display: flex;
        align-items: center;
        a {
            margin-left: 1.5rem;
        }
    }
    .icon {
        width: 2.5rem;
        margin-left: 0.8rem;
        font-size: 1.2rem;
    }
    #menuToggle {
        display: none;
    }
    .menu {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        background: var(--clr-page-bg);
        padding: 1rem;
        margin-top: 4.5rem;
        display: flex;
        flex-direction: column;
        height: calc(100vh - 72px);
        overflow-y: auto;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        a {
            padding: 0.8rem;
            color: var(--clr-page-text);
            font-size: 1.1rem;
            &.active {
                color: var(--clr-primary);
            }
        }

        h6 {
            font-size: 0.8rem;
            font-weight: 600;
            color: var(--clr-gray-1);
            margin: 0.6rem 0.8rem;
        }

        &.open {
            transform: none;
        }
    }
}

.footer {
    margin: 1.3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
    span {
        font-size: 1rem;
        display: inline-flex;
        align-items: center;
        margin-bottom: 1.5rem;
        i {
            font-size: inherit;
            color: var(--clr-red);
            margin: 0 0.4rem;
        }
        a {
            margin-left: 0.3rem;
        }
    }
    &__links i {
        font-size: 1.5rem;
        margin: 0 0.8rem;
        color: #b2b2b2;
        transition: all 0.3s ease 0s;
        &:hover {
            color: var(--clr-primary);
        }
    }
    &.home-footer {
        height: auto;
    }
}
@media screen and (max-width: 50em) {
    .header #menuToggle {
        display: inherit;
    }
}

@media screen and (max-width: 43em) {
    .header {
        &__wrapper {
            padding: 1rem 1.25rem;
        }
        &__links a {
            display: none;
        }
    }
}
