@import "../../utils/functions.scss";

.card {
    $p: &;
    display: flex;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    background: #ffffff;
    border: 1px solid var(--border-color);
    &:hover {
        border-color: var(--border-color-2);
        box-shadow: var(--box-shadow-1);
    }

    &.vertical {
        flex-direction: column;
        .image {
            padding: 1rem 1rem 0 1rem;
        }
    }
    &.horizontal {
        flex-direction: row;
    }

    &.text-only {
        #{$p}__image {
            display: none;
        }
    }
    &__remove {
        position: absolute;
        display: inline-flex;
        height: 2rem;
        width: 2rem;
        justify-content: center;
        align-items: center;
        right: rem(15);
        color: #bbbbbb;
        top: rem(15);
        background: #edeeef;
        border-radius: 50%;
        transition: var(--transition);
        cursor: pointer;
        &:hover {
            color: var(--gray-1);
        }
    }
    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 5;
        font-size: 1.6rem;
        font-weight: 500;
        display: flex;
        backdrop-filter: blur(1px);
        align-items: center;
        background: #e3e3e363;
        justify-content: center;
    }
    &__image {
        background-color: #ffffff;
        overflow: hidden;
        margin: auto;
        min-width: 12rem;
        max-width: 16rem;
        max-height: 250px;
        border-radius: 0 0 1rem 1rem;
        a {
            display: block;
        }
    }
    .badge {
        position: absolute;
        left: 1rem;
        top: 1rem;
        z-index: 1;
    }
    &__content {
        display: flex;
        flex-direction: column;
        padding: 0.75rem 1.25rem 1.25rem 1.25rem;
        #{$p}__name {
            color: var(--black);
            font-weight: 600;
            margin: 0.4rem 0;
            &:hover {
                color: var(--primary);
            }
        }
        p {
            display: -webkit-box;
            overflow: hidden;
            font-size: 0.8rem;
            -webkit-box-orient: vertical;
            line-height: 1.3;
            color: var(--gray-2);
            -webkit-line-clamp: 3;
        }
        #{$p}__category {
            font-size: rem(12);
            color: var(--gray-3);
            &:hover {
                color: var(--primary);
            }
        }
        #{$p}__vendor {
            font-size: rem(14);
            color: var(--gray-3);
            a {
                color: var(--primary);
                &:hover {
                    color: var(--secondary);
                }
            }
        }
        .rating {
            font-size: rem(13);
            color: var(--gray-3);
        }
        #{$p}__bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: rem(10);
        }
        #{$p}__price {
            span {
                display: block;
            }
            & > span {
                font-size: rem(18);
                margin-right: 0.6rem;
                font-weight: 600;
                color: var(--primary);

                & + span {
                    text-decoration: line-through;
                    color: var(--gray-1);
                    font-size: rem(12);
                    font-weight: 500;
                    line-height: 1;
                }
            }
        }
        #{$p}__button_con {
            button:first-child i {
                margin: 0;
            }
        }
    }
}
