@import "../../utils/functions.scss";

@mixin base($color, $v: 0) {
    background: var(--#{$color}-light);
    @if $v != 0 {
        border: none;
    } @else {
        border: 2px solid var(--#{$color});
    }
    color: var(--#{$color});
    &:hover {
        background: var(--#{$color});
        color: var(--white);
    }
}
.btn {
    $p: &;
    border: 0;
    outline: none;
    padding: 10px 15px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 0.25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
    i {
        margin-right: 0.3rem;
    }
    &:hover {
        transform: translateY(-3px);
        box-shadow: 5px 5px 15px rgb(0 0 0 / 5%);
    }
    &--no-transform {
        &:hover {
            transform: none;
        }
    }
    &--xs {
        font-size: rem(11);
        padding: 0 rem(8);
        height: 1.5rem;
    }
    &--sm {
        font-size: rem(13);
        padding: 0 rem(12);
        height: 2rem;
    }
    &--md {
        font-size: rem(15);
        padding: 0 rem(18);
        height: 2.5rem;
    }
    &--lg {
        font-size: rem(17);
        padding: 0 rem(24);
        height: 3rem;
        svg {
            font-size: 1.6rem;
        }
    }
    &--full {
        width: 100%;
    }
    &--primary {
        background-color: var(--primary);
        color: var(--white);
        &:hover {
            background: var(--primary-dark);
        }
    }
    &--info {
        background-color: var(--blue);
        color: var(--white);
    }
    &--success {
        background: var(--green);
        color: var(--white);
    }
    &--warning {
        background: var(--yellow);
        color: var(--white);
    }
    &--error {
        background: var(--red);
        color: var(--white);
    }
    &--disable {
    }
    &--round {
        border-radius: 5rem;
    }
    &--close {
        font-size: 1.6rem;
        width: 2rem;
        background: none;
        color: var(--gray-2);
        &:hover {
            color: var(--gray-1);
            transform: none;
        }
    }
    &--outline {
        &#{$p}--primary {
            @include base(primary);
        }
        &#{$p}--success {
            @include base(green);
        }
        &#{$p}--info {
            @include base(blue);
        }
        &#{$p}--error {
            @include base(red);
        }
        &#{$p}--warning {
            @include base(yellow);
        }
    }
    &--ghost {
        &#{$p}--primary {
            @include base(primary, 1);
        }
        &#{$p}--success {
            @include base(green, 1);
        }
        &#{$p}--info {
            @include base(blue, 1);
        }
        &#{$p}--error {
            @include base(red, 1);
        }
        &#{$p}--warning {
            @include base(yellow, 1);
        }
    }
    &--link {
        background: none;
        border: none;
        color: var(--primary);
        &:hover {
            background: none;
            color: var(--primary);
            text-decoration: underline;
            transform: none;
            box-shadow: none;
        }
    }
    &--left {
        flex: row;
        svg {
            margin-right: 0.3rem;
        }
    }
    &--right {
        flex-flow: row-reverse;
        svg {
            margin-left: 0.3rem;
        }
    }

    &__icon {
        &--md {
            padding: 0 0.6rem;
            font-size: 1.301rem;
        }
        svg {
            margin: 0;
        }
    }
}
