.btn {
  border: 0;
  outline: none;
  padding: 10px 15px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}
.btn i {
  margin-right: 0.3rem;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
}
.btn--no-transform:hover {
  transform: none;
}
.btn--xs {
  font-size: 0.6875rem;
  padding: 0 0.5rem;
  height: 1.5rem;
}
.btn--sm {
  font-size: 0.8125rem;
  padding: 0 0.75rem;
  height: 2rem;
}
.btn--md {
  font-size: 0.9375rem;
  padding: 0 1.125rem;
  height: 2.5rem;
}
.btn--lg {
  font-size: 1.0625rem;
  padding: 0 1.5rem;
  height: 3rem;
}
.btn--lg svg {
  font-size: 1.6rem;
}
.btn--full {
  width: 100%;
}
.btn--primary {
  background-color: var(--primary);
  color: var(--white);
}
.btn--primary:hover {
  background: var(--primary-dark);
}
.btn--info {
  background-color: var(--blue);
  color: var(--white);
}
.btn--success {
  background: var(--green);
  color: var(--white);
}
.btn--warning {
  background: var(--yellow);
  color: var(--white);
}
.btn--error {
  background: var(--red);
  color: var(--white);
}
.btn--round {
  border-radius: 5rem;
}
.btn--close {
  font-size: 1.6rem;
  width: 2rem;
  background: none;
  color: var(--gray-2);
}
.btn--close:hover {
  color: var(--gray-1);
  transform: none;
}
.btn--outline.btn--primary {
  background: var(--primary-light);
  border: 2px solid var(--primary);
  color: var(--primary);
}
.btn--outline.btn--primary:hover {
  background: var(--primary);
  color: var(--white);
}
.btn--outline.btn--success {
  background: var(--green-light);
  border: 2px solid var(--green);
  color: var(--green);
}
.btn--outline.btn--success:hover {
  background: var(--green);
  color: var(--white);
}
.btn--outline.btn--info {
  background: var(--blue-light);
  border: 2px solid var(--blue);
  color: var(--blue);
}
.btn--outline.btn--info:hover {
  background: var(--blue);
  color: var(--white);
}
.btn--outline.btn--error {
  background: var(--red-light);
  border: 2px solid var(--red);
  color: var(--red);
}
.btn--outline.btn--error:hover {
  background: var(--red);
  color: var(--white);
}
.btn--outline.btn--warning {
  background: var(--yellow-light);
  border: 2px solid var(--yellow);
  color: var(--yellow);
}
.btn--outline.btn--warning:hover {
  background: var(--yellow);
  color: var(--white);
}
.btn--ghost.btn--primary {
  background: var(--primary-light);
  border: none;
  color: var(--primary);
}
.btn--ghost.btn--primary:hover {
  background: var(--primary);
  color: var(--white);
}
.btn--ghost.btn--success {
  background: var(--green-light);
  border: none;
  color: var(--green);
}
.btn--ghost.btn--success:hover {
  background: var(--green);
  color: var(--white);
}
.btn--ghost.btn--info {
  background: var(--blue-light);
  border: none;
  color: var(--blue);
}
.btn--ghost.btn--info:hover {
  background: var(--blue);
  color: var(--white);
}
.btn--ghost.btn--error {
  background: var(--red-light);
  border: none;
  color: var(--red);
}
.btn--ghost.btn--error:hover {
  background: var(--red);
  color: var(--white);
}
.btn--ghost.btn--warning {
  background: var(--yellow-light);
  border: none;
  color: var(--yellow);
}
.btn--ghost.btn--warning:hover {
  background: var(--yellow);
  color: var(--white);
}
.btn--link {
  background: none;
  border: none;
  color: var(--primary);
}
.btn--link:hover {
  background: none;
  color: var(--primary);
  text-decoration: underline;
  transform: none;
  box-shadow: none;
}
.btn--left {
  flex: row;
}
.btn--left svg {
  margin-right: 0.3rem;
}
.btn--right {
  flex-flow: row-reverse;
}
.btn--right svg {
  margin-left: 0.3rem;
}
.btn__icon--md {
  padding: 0 0.6rem;
  font-size: 1.301rem;
}
.btn__icon svg {
  margin: 0;
}

/*# sourceMappingURL=button.css.map */
