.btn {
  border: 0;
  outline: none;
  padding: 10px 15px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  transition: var(--transition);
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
}
.btn--no-transform:hover {
  transform: none;
}
.btn--xs {
  font-size: 0.6875rem;
  padding: 0 0.5rem;
  height: 1.5rem;
}
.btn--sm {
  font-size: 0.8125rem;
  padding: 0 0.75rem;
  height: 2rem;
}
.btn--md {
  font-size: 0.9375rem;
  padding: 0 1.125rem;
  height: 2.5rem;
}
.btn--lg {
  font-size: 1.0625rem;
  padding: 0 1.5rem;
  height: 3rem;
}
.btn--lg svg {
  font-size: 1.6rem;
}
.btn--full {
  width: 100%;
}
.btn--primary {
  background-color: var(--clr-primary);
  color: var(--clr-white);
}
@media (hover: hover) {
  .btn--primary:hover {
    background: var(--clr-primary-dark);
  }
}
.btn--info {
  background-color: var(--clr-blue);
  color: var(--clr-white);
}
.btn--success {
  background: var(--clr-green);
  color: var(--clr-white);
}
.btn--warning {
  background: var(--clr-yellow);
  color: var(--clr-white);
}
.btn--error {
  background: var(--clr-red);
  color: var(--clr-white);
}
.btn--round {
  border-radius: 5rem;
}
.btn--close {
  font-size: 1.6rem;
  width: 2rem;
  background: none;
  color: var(--clr-gray-2);
}
.btn--close:hover {
  color: var(--clr-gray-1);
  transform: none;
}
.btn--outline.btn--primary {
  background: var(--clr-primary-light);
  border: 2px solid var(--clr-primary);
  color: var(--clr-primary);
}
@media (hover: hover) {
  .btn--outline.btn--primary:hover {
    background: var(--clr-primary);
    color: var(--clr-white);
  }
}
.btn--outline.btn--success {
  background: var(--clr-green-light);
  border: 2px solid var(--clr-green);
  color: var(--clr-green);
}
@media (hover: hover) {
  .btn--outline.btn--success:hover {
    background: var(--clr-green);
    color: var(--clr-white);
  }
}
.btn--outline.btn--info {
  background: var(--clr-blue-light);
  border: 2px solid var(--clr-blue);
  color: var(--clr-blue);
}
@media (hover: hover) {
  .btn--outline.btn--info:hover {
    background: var(--clr-blue);
    color: var(--clr-white);
  }
}
.btn--outline.btn--error {
  background: var(--clr-red-light);
  border: 2px solid var(--clr-red);
  color: var(--clr-red);
}
@media (hover: hover) {
  .btn--outline.btn--error:hover {
    background: var(--clr-red);
    color: var(--clr-white);
  }
}
.btn--outline.btn--warning {
  background: var(--clr-yellow-light);
  border: 2px solid var(--clr-yellow);
  color: var(--clr-yellow);
}
@media (hover: hover) {
  .btn--outline.btn--warning:hover {
    background: var(--clr-yellow);
    color: var(--clr-white);
  }
}
.btn--ghost.btn--primary {
  background: var(--clr-primary-light);
  border: none;
  color: var(--clr-primary);
}
@media (hover: hover) {
  .btn--ghost.btn--primary:hover {
    background: var(--clr-primary);
    color: var(--clr-white);
  }
}
.btn--ghost.btn--success {
  background: var(--clr-green-light);
  border: none;
  color: var(--clr-green);
}
@media (hover: hover) {
  .btn--ghost.btn--success:hover {
    background: var(--clr-green);
    color: var(--clr-white);
  }
}
.btn--ghost.btn--info {
  background: var(--clr-blue-light);
  border: none;
  color: var(--clr-blue);
}
@media (hover: hover) {
  .btn--ghost.btn--info:hover {
    background: var(--clr-blue);
    color: var(--clr-white);
  }
}
.btn--ghost.btn--error {
  background: var(--clr-red-light);
  border: none;
  color: var(--clr-red);
}
@media (hover: hover) {
  .btn--ghost.btn--error:hover {
    background: var(--clr-red);
    color: var(--clr-white);
  }
}
.btn--ghost.btn--warning {
  background: var(--clr-yellow-light);
  border: none;
  color: var(--clr-yellow);
}
@media (hover: hover) {
  .btn--ghost.btn--warning:hover {
    background: var(--clr-yellow);
    color: var(--clr-white);
  }
}
.btn--link {
  background: none;
  border: none;
  color: var(--clr-primary);
}
.btn--link:hover {
  background: none;
  color: var(--clr-primary);
  text-decoration: underline;
  transform: none;
  box-shadow: none;
}

/*# sourceMappingURL=button.css.map */
