@import "../../utils/functions.scss";

.avatar {
    $p: &;
    position: relative;
    display: inline-block;
    border-radius: 50%;
    img {
        border-radius: 50%;
    }
    &__badge {
        display: inline-block;
        border-radius: 50%;
        height: 1rem;
        width: 1rem;
        background: var(--clr-primary);
        position: absolute;
        border: 2px solid var(--clr-white);
        &--green {
            background: var(--clr-green);
        }
        &--red {
            background: var(--clr-red);
        }
        &--yellow {
            background: var(--clr-yellow);
        }
    }
    &--xs {
        width: rem(24);
        height: rem(24);
        font-size: 0.5em;
        #{$p}__badge {
            width: 0.5rem;
            height: 0.5rem;
            bottom: -1px;
            right: 0;
            border-width: 1px;
        }
    }
    &--sm {
        width: rem(32);
        height: rem(32);
        font-size: 0.7em;
        #{$p}__badge {
            width: 0.7rem;
            height: 0.7rem;
            bottom: -2px;
            right: 0;
        }
    }
    &--md {
        width: rem(48);
        height: rem(48);
        font-size: 1.1em;
        #{$p}__badge {
            width: 0.9rem;
            height: 0.9rem;
            bottom: 0;
            right: 0;
        }
    }
    &--lg {
        width: rem(64);
        height: rem(64);
        font-size: 2rem;
        #{$p}__badge {
            width: 1.1rem;
            height: 1.1rem;
            bottom: 0;
            right: 4px;
        }
    }
    &--xl {
        width: rem(96);
        height: rem(96);
        font-size: 2.6rem;
        #{$p}__badge {
            width: 1.3rem;
            height: 1.3rem;
            bottom: 2px;
            right: 8px;
        }
    }
    &--xxl {
        width: rem(128);
        height: rem(128);
        font-size: 3.2rem;
        #{$p}__badge {
            width: 1.3rem;
            height: 1.3rem;
            bottom: 9px;
            right: 8px;
        }
    }

    &--text {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        background-color: var(--clr-primary);
        color: #ffffff;
        span {
            line-height: 0;
        }
    }
    &--info {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        color: #5b5b5b;
        background: #e1e1e1;
    }
    &__group {
        display: inline-flex;
        #{$p} {
            margin-right: -1.4rem;
            border: 2px solid var(--clr-white);
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
    img {
        max-inline-size: 100%;
        block-size: auto;
    }
}
