.toast {
    width: fit-content;
    padding: 0.5rem;
    display: flex;
    font-size: 1rem;
    align-items: center;
    font-weight: 500;
    box-shadow: var(--box-shadow-1);
    border-radius: 0.3rem;

    span {
        display: flex;
        margin-right: 1rem;
        align-items: center;
        &::before {
            content: "";
            display: inline-block;
            height: 2.4rem;
            border-radius: 3px;
            margin-right: 0.8rem;
            width: 5px;
        }
    }

    &--success {
        background-color: var(--green-light);
        color: var(--green);
        span::before {
            background: var(--green);
        }
    }

    &--danger {
        background-color: var(--red-light);
        color: var(--red);
        span::before {
            background: var(--red);
        }
    }

    &--info {
        background-color: var(--blue-light);
        color: var(--blue);
        span::before {
            background: var(--blue);
        }
    }

    &--warning {
        background-color: var(--yellow-light);
        color: var(--yellow);
        span::before {
            background: var(--yellow);
        }
    }
}
