@import url("./alert/alert.css");
@import url("./button/button.css");
@import url("./avatar/avatar.css");
@import url("./badge/badge.css");
@import url("./input/input.css");
@import url("./card/card.css");
@import url("./modal/modal.css");
@import url("./toast/toast.css");
@import url("./rating/rating.css");
@import url("./slider/slider.css");

:root {
    --clr-black: #2d3748;
    --clr-white: #ffffff;
    --clr-primary: #3bb57c;
    --clr-primary-light: #def9ec;
    --clr-primary-dark: #29a56c;
    --clr-secondary: var(--clr-black);
    --clr-accent: #fdc040;
    --clr-text-color: var(--clr-black);
    --clr-green: #20a779;
    --clr-green-light: #c6f6d5;
    --clr-red: #fd4e4e;
    --clr-red-light: #fed7d7;
    --clr-yellow: #f8aa1c;
    --clr-yellow-light: #feebc8;
    --clr-blue: #007bc3;
    --clr-blue-light: #bde3f8;
    --clr-gray-1: #626262;
    --clr-gray-2: #7c7c7c;
    --clr-gray-3: #adadad;
    --clr-border-color: #ececec;
    --clr-border-color-2: #bce3c9;
    --clr-border-color-3: #e3e3e3c7;
    --clr-input-bg: #e5e5e563;
    --clr-card-bg: #ffffff;
    --clr-card-name: var(--clr-black);

    /* Font sizes */

    -fs-900: 2.986rem;
    -fs-800: 1.488rem;
    -fs-700: 2.074rem;
    -fs-600: 1.7281rem;
    -fs-500: 1.44rem;
    -fs-400: 1.2rem;
    -fs-300: 1.0875rem;
    -fs-200: 1rem;
    -fs-100: 0.8rem;

    --box-shadow-1: 5px 5px 15px #0000000d;
    --transition: all 0.3s ease 0s;
}

.dark-theme {
    --clr-border-color-3: #303030;
    --clr-primary-light: #2f2f2f;
    --clr-input-bg: #333333;
    --clr-card-bg: #1e1e1e;
    --clr-border-color-2: var(--clr-primary);
    --clr-card-name: var(--clr-white);

    /* #383838 */
    /* #3d3d3d */
    /* #1c1c1c */
}

* {
    box-sizing: border-box;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.75;
}

h1 {
    font-size: var(--fs-800);
}

h2 {
    font-size: var(--fs-700);
}

h3 {
    font-size: var(--fs-600);
}

h4 {
    font-size: var(--fs-500);
}

h5 {
    font-size: var(--fs-400);
    font-weight: 500;
}

h6 {
    font-size: var(--fs-300);
    font-weight: 500;
}

p {
    font-size: var(--fs-200);
    margin-top: 0;
}

label {
    font-size: var(--fs-100);
    position: relative;
    font-weight: 500;
}

a,
a:visited,
a:active {
    text-decoration: none;
}

a {
    display: inline-flex;
    align-items: center;
    color: var(--clr-primary);
    font-weight: 500;
    transition: 0.2s;
}
a:hover,
a:active {
    color: var(--clr-primary-dark);
}

a i {
    margin-right: 0.3rem;
}

a,
button,
img {
    transition: var(--transition);
}
ol,
ul {
    line-height: 1.7;
    padding-left: 1rem;
    margin: 0;
    margin-bottom: 1rem;
}
.list-style-none {
    list-style: none;
    padding: 0;
    margin: 0;
}
.list-style-disc {
    list-style: disc;
}
.list-style-square {
    list-style: square;
}
.list-style-circle {
    list-style: circle;
}
.list-style-number {
    list-style: decimal;
}
.list-style-lowerLetter {
    list-style: lower-alpha;
}
.list-style-upperLetter {
    list-style: upper-alpha;
}

input {
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
input:focus {
    outline: none;
}
.img-fluid {
    max-inline-size: 100%;
    block-size: auto;
    height: auto;
}
.round {
    clip-path: circle();
}
.justify-end {
    justify-self: end;
}

.bg-primary {
    background-color: var(--clr-primary);
}
.bg-secondary {
    background-color: var(--clr-secondary);
}
.bg-gray {
    background-color: var(--clr-gray-1);
}
.bg-success {
    background-color: var(--clr-green);
}
.bg-warning {
    background-color: var(--clr-yellow);
}
.bg-error {
    background-color: var(--clr-red);
}
.bg-info {
    background-color: var(--clr-blue);
}

.bg-primary-light {
    background-color: var(--clr-primary-light);
}
.bg-secondary-light {
    background-color: #9cb7e5;
}
.bg-gray-light {
    background-color: var(--clr-gray-3);
}
.bg-success-light {
    background-color: var(--clr-green-light);
}
.bg-warning-light {
    background-color: var(--clr-yellow-light);
}
.bg-error-light {
    background-color: var(--clr-red-light);
}
.bg-info-light {
    background-color: var(--clr-blue-light);
}

.text-primary {
    color: var(--clr-primary);
}
.text-black {
    color: var(--clr-secondary);
}
.text-white {
    color: var(--clr-white) !important;
}
.text-gray {
    color: var(--clr-gray-1);
}
.text-success {
    color: var(--clr-green);
}
.text-warning {
    color: var(--clr-yellow);
}
.text-error {
    color: var(--clr-red);
}
.text-info {
    color: var(--clr-blue);
}
.text-center {
    text-align: center;
}
.text-w-400 {
    font-weight: 400;
}
.text-w-500 {
    font-weight: 500;
}
.text-w-600 {
    font-weight: 600;
}

.grid {
    display: grid;
    gap: 1.2rem;
}
.col-2-even {
    grid-template-columns: 1fr 1fr;
}
.col-2-right-expand {
    grid-template-columns: 3fr 7fr;
}
.col-2-left-expand {
    grid-template-columns: 7fr 3fr;
}

.col-3-even {
    grid-template-columns: 1fr 1fr 1fr;
}

.col-3-right-expand {
    grid-template-columns: 3fr 3fr 4fr;
}
.col-3-mid-expand {
    grid-template-columns: 3fr 4fr 3fr;
}
.col-3-left-expand {
    grid-template-columns: 4fr 3fr 3fr;
}
