@import url("./alert/alert.css");
@import url("./button/button.css");
@import url("./avatar/avatar.css");
@import url("./badge/badge.css");

:root {
    --primary: #3bb77e;
    --primary-light: #def9ec;
    --primary-dark: #29a56c;
    --secondary: #fdc040;
    --black: #2d3748;
    --white: #ffffff;
    --text-color: var(--black);
    --page-bg: #f7f7f7;
    --green: #20a779;
    --green-light: #c6f6d5;
    --red: #fd4e4e;
    --red-light: #fed7d7;
    --yellow: #f8aa1c;
    --yellow-light: #feebc8;
    --blue: #007bc3;
    --blue-light: #bde3f8;
}

img {
    max-inline-size: 100%;
    block-size: auto;
}
