@import url("./alert/alert.css");
@import url("./button/button.css");
@import url("./avatar/avatar.css");
@import url("./badge/badge.css");
@import url("./input/input.css");
@import url("./card/card.css");
@import url("./modal/modal.css");
@import url("./toast/toast.css");
@import url("./rating/rating.css");
@import url("./slider/slider.css");

:root {
    --primary: #3bb77e;
    --primary-light: #def9ec;
    --primary-dark: #29a56c;
    --secondary: #fdc040;
    --black: #2d3748;
    --white: #ffffff;
    --text-color: var(--black);
    --green: #20a779;
    --green-light: #c6f6d5;
    --red: #fd4e4e;
    --red-light: #fed7d7;
    --yellow: #f8aa1c;
    --yellow-light: #feebc8;
    --blue: #007bc3;
    --blue-light: #bde3f8;
    --gray-1: #626262;
    --gray-2: #7c7c7c;
    --gray-3: #adadad;
    --border-color: #ececec;
    --border-color-2: #bce3c9;
    --border-color-3: #e3e3e3c7;
    --box-shadow-1: 5px 5px 15px rgb(0 0 0 / 5%);
    --transition: all 0.3s ease 0s;
}

.dark-theme {
    --text-color: var(--white);
    --border-color-3: #303030;
}

* {
    box-sizing: border-box;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.75;
}

h1 {
    font-size: 2.488125rem;
}

h2 {
    font-size: 2.074rem;
}

h3 {
    font-size: 1.728125rem;
}

h4 {
    font-size: 1.44rem;
}

h5 {
    font-size: 1.2rem;
    font-weight: 500;
}

h6 {
    font-size: 1.0875rem;
    font-weight: 500;
}

p {
    margin-top: 0;
    font-size: 1rem;
}

label {
    position: relative;
    font-weight: 500;
    font-size: 0.8rem;
}

a,
a:visited,
a:active {
    text-decoration: none;
}

a {
    display: inline-flex;
    align-items: center;
    color: var(--primary);
    font-weight: 500;
    transition: 0.2s;
}
a:hover,
a:active {
    color: var(--primary-dark);
}

a i {
    margin-right: 0.3rem;
}

a,
button,
img {
    transition: var(--transition);
}
ol,
ul {
    line-height: 1.7;
    padding-left: 1rem;
    margin: 0;
    margin-bottom: 1rem;
}
.list-style-none {
    list-style: none;
    padding: 0;
    margin: 0;
}
.list-style-disc {
    list-style: disc;
}
.list-style-square {
    list-style: square;
}
.list-style-circle {
    list-style: circle;
}
.list-style-number {
    list-style: decimal;
}
.list-style-lowerLetter {
    list-style: lower-alpha;
}
.list-style-upperLetter {
    list-style: upper-alpha;
}

input {
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
input:focus {
    outline: none;
}
.img-fluid {
    max-inline-size: 100%;
    block-size: auto;
    height: auto;
}
.round {
    clip-path: circle();
}
.justify-end {
    justify-self: end;
}

.bg-primary {
    background-color: var(--primary);
}
.bg-secondary {
    background-color: var(--black);
}
.bg-gray {
    background-color: var(--gray-1);
}
.bg-success {
    background-color: var(--green);
}
.bg-warning {
    background-color: var(--yellow);
}
.bg-error {
    background-color: var(--red);
}
.bg-info {
    background-color: var(--blue);
}

.bg-primary-light {
    background-color: var(--primary-light);
}
.bg-secondary-light {
    background-color: #9cb7e5;
}
.bg-gray-light {
    background-color: var(--gray-3);
}
.bg-success-light {
    background-color: var(--green-light);
}
.bg-warning-light {
    background-color: var(--yellow-light);
}
.bg-error-light {
    background-color: var(--red-light);
}
.bg-info-light {
    background-color: var(--blue-light);
}

.text-primary {
    color: var(--primary);
}
.text-secondary {
    color: var(--black);
}
.text-gray {
    color: var(--gray-1);
}
.text-success {
    color: var(--green);
}
.text-warning {
    color: var(--yellow);
}
.text-error {
    color: var(--red);
}
.text-info {
    color: var(--blue);
}
.text-center {
    text-align: center;
}
.text-w-400 {
    font-weight: 400;
}
.text-w-500 {
    font-weight: 500;
}
.text-w-600 {
    font-weight: 600;
}

.grid {
    display: grid;
    gap: 1.2rem;
}
.col-2-even {
    grid-template-columns: 1fr 1fr;
}
.col-2-right-expand {
    grid-template-columns: 3fr 7fr;
}
.col-2-left-expand {
    grid-template-columns: 7fr 3fr;
}

.col-3-even {
    grid-template-columns: 1fr 1fr 1fr;
}

.col-3-right-expand {
    grid-template-columns: 3fr 3fr 4fr;
}
.col-3-mid-expand {
    grid-template-columns: 3fr 4fr 3fr;
}
.col-3-left-expand {
    grid-template-columns: 4fr 3fr 3fr;
}
