.rating {
    i {
        color: var(--clr-gray-3);
    }
    input {
        display: none;
    }
    input:checked + i {
        color: var(--clr-yellow);
    }
    span {
        font-size: 0.8rem;
        font-weight: 500;
        letter-spacing: 1px;
    }
}
