@import "../../utils/functions.scss";

.badge {
    font-size: 0.7em;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.1rem 0.4rem;
    background: #cfcfcf;
    color: var(--clr-text-color);
    border-radius: rem(3);
    &--green {
        background: var(--clr-green-light);
        color: var(--clr-green);
        border-color: var(--clr-green);
    }
    &--red {
        background: var(--clr-red-light);
        color: var(--clr-red);
        border-color: var(--clr-red);
    }
    &--blue {
        background: var(--clr-blue-light);
        color: var(--clr-blue);
        border-color: var(--clr-blue);
    }
    &--yellow {
        background: var(--clr-yellow-light);
        color: var(--clr-yellow);
        border-color: var(--clr-yellow);
    }
    &--primary {
        background: var(--clr-primary-light);
        color: var(--clr-primary);
        border-color: var(--clr-primary);
    }

    &--rounded {
        border-radius: rem(15);
    }
    &--outline {
        border: 1px solid;
    }
}
.icon-badge {
    font-size: 1.7em;
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .badge {
        display: inline-flex;
        align-items: center;
        line-height: 0;
        border-radius: rem(10);
        color: var(--clr-white);
        font-weight: 600;
        height: 1rem;
        min-width: 1rem;
        font-size: 0.4em;
        // background: var(--clr-primary);
        position: absolute;
        top: 2px;
        left: 1.22rem;
        border: 2px solid var(--clr-white);
        &--green {
            background: var(--clr-green);
        }
        &--red {
            background: var(--clr-red);
        }
        &--blue {
            background: var(--clr-blue);
        }
        &--yellow {
            background: var(--clr-yellow);
        }
        &--primary {
            background: var(--clr-primary);
        }
    }
}
