@import "../../utils/functions.scss";

.alert {
    $p: &;
    max-width: 600px;
    padding: 0.6rem;
    border-radius: 10px;
    display: grid;
    align-items: center;
    grid-template-columns: 4rem 1fr 3rem;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 8%) 0px 1px 2px;
    &--success {
        background: var(--green-light);
        #{$p}__icon {
            background: var(--green);
        }
    }
    &--error {
        background: var(--red-light);
        #{$p}__icon {
            background: var(--red);
        }
    }
    &--warning {
        background: var(--yellow-light);
        #{$p}__icon {
            background: var(--yellow);
        }
    }
    &--info {
        background: var(--blue-light);
        #{$p}__icon {
            background: var(--blue);
        }
    }
    &__text {
        span {
            display: block;
            &:nth-of-type(2) {
                line-height: 1;
                margin-top: rem(6);
                font-size: 0.8rem;
                color: #606060;
            }
        }
    }
    &__icon {
        display: flex;
        padding: 0 0.5rem;
        width: 2rem;
        align-items: center;
        justify-content: center;
        height: 2rem;
        margin-left: 0.5rem;
        border-radius: 50%;
        i {
            color: #ffffff;
        }
    }

    &__close {
        background: none !important;
        padding: 0;
        margin: 0;
        width: 35px;
        height: 35px;
        transition: 0.2s;
        i {
            background: none;
            color: #1c1c1c6b;
            padding: 0;
        }
        &:hover {
            background: #c3c3c33b !important;
            transform: none !important;
            box-shadow: none !important;
        }
    }
}
