@import "../utils/functions.scss";
.main {
    display: flex;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding-left: rem(20);
    position: relative;
    .side_container {
        position: sticky;
        top: calc(2rem + 82px);
        width: 14rem;
        display: flex;
        flex-direction: column;
        height: calc(100vh - 82px - 2rem);
        overflow-y: auto;
        border-right: 2px solid #e7e7e7;
        h6 {
            margin-bottom: 1.2rem;
        }
        .link {
            font-size: 15px;
            color: var(--gray-2);
            margin-bottom: 1rem;
            &:before {
                content: "";
                width: 6px;
                height: 6px;
                border-radius: 3px;
                margin-right: 1rem;
                background: var(--gray-1);
                transition: 0.3s;
            }
            &:hover {
                color: var(--primary);
                &:before {
                    margin-right: 1.4rem;
                }
            }
            &.active {
                color: var(--primary);
                &:before {
                    background: var(--primary);
                }
            }
        }
    }

    .container {
        flex: 1;
        min-width: 0;
        .sub_container {
            flex: auto;
            width: 100%;
            padding: 0 clamp(1rem, 3rem, 5rem);
        }
    }

    h1,
    h4 {
        margin-top: 2.4rem;
        margin-bottom: 1.3rem;
    }
    h1,
    h3,
    p,
    ul,
    li {
        code {
            font-family: SFMono-Regular, Menlo, Monaco, Consolas, monospace;
            font-size: 14px;
            color: #8d66d6;
        }
    }
    ul {
        padding-left: 1.2rem;
        margin-top: 1.5rem;
        margin-bottom: 2rem;
    }
    code,
    code span {
        font-family: SFMono-Regular, Menlo, Monaco, Consolas, monospace !important;
        font-size: rem(15);
    }
    code.hljs {
        border-radius: rem(10);
        padding: 1rem 2rem;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .hljs::-webkit-scrollbar {
        display: none;
    }
    span > code {
        margin: 1rem 1.5rem;
    }
    section {
        scroll-margin-top: 7rem;
    }
    .description {
        font-weight: 500;
        text-align: center;
    }
}

.palette {
    display: flex;
    // flex-wrap: wrap;
    height: rem(140);
    & > div {
        color: white;
        padding: 0.5rem;
        font-size: 0.8rem;
        display: flex;
        flex: 1;
        justify-content: space-between;
        flex-direction: column;
        &:nth-child(1) {
            background-color: var(--primary);
        }
        &:nth-child(2) {
            background-color: var(--black);
        }
        &:nth-child(3) {
            background-color: var(--gray-1);
        }
        &:nth-child(4) {
            background-color: var(--green);
        }
        &:nth-child(5) {
            background-color: var(--red);
        }
        &:nth-child(6) {
            background-color: var(--yellow);
        }
        &:nth-child(7) {
            background-color: var(--blue);
        }
    }
}

.text-doc-container {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    label {
        margin: 0;
        &::before {
            font-size: 0.8rem;
            // margin-right: 1.5rem;
            color: var(--gray-1);
            font-weight: 500;
            width: 4rem;
            margin-right: 1.5rem;
            display: inline-block;
            text-align: right;
        }
    }
    h1::before {
        content: "2.48 rem";
    }
    h2::before {
        content: "2.07 rem";
    }
    h3::before {
        content: "1.72 rem";
    }
    h4::before {
        content: "1.44 rem";
    }
    h5::before {
        content: "1.2 rem";
    }
    h6::before {
        content: "1.08 rem";
    }
    p::before {
        content: "1 rem";
    }
    label::before {
        content: "0.8 rem";
    }
}

.element_container {
    border: 1px solid #ededed;
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 0.7rem;
    margin-bottom: 1rem;
    gap: rem(15);
    .icon-badge {
        margin-right: 1rem;
    }
    &.align_center {
        align-items: center;
    }
    &.column {
        flex-direction: column;
    }
    &.block {
        display: block;
    }
    .round {
        width: 35%;
    }
}

.card_container {
    display: flex;
    gap: 1.2rem;
}
.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.25rem;
    align-items: baseline;
}
.hero-container {
    background-image: url("/images/new.png");
    background-size: cover;
    height: 9rem;
    border-radius: 0.5rem;
    background-color: var(--primary);
    position: relative;
    color: var(--white);
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding: 1rem 3rem;
    .text {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        h1 {
            margin: 0.7rem 0;
            line-height: 1;
        }
        p {
            font-size: 0.9rem;
            width: 50%;
            line-height: 1.2;
        }
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        z-index: 0;
        background: radial-gradient(70.02% 150.4% at 20.67% 24.02%, #3bb77e 0%, #3bb77ed9 55.59%, #ffffff00 100%);
    }
}
.util-colors {
    display: flex;
    color: var(--white);
    span {
        display: inline-block;
        padding: 1rem;
        font-size: 0.8rem;
        color: inherit;
        text-align: center;
        flex: 1;
    }
}
