.container {
    width: 100vw;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &__text {
        width: 58vw;
        text-align: center;
        margin-top: 5rem;
        position: relative;
        z-index: 10;
        h1 {
            margin-bottom: 1.5rem;
            font-size: 3.6rem;
            line-height: 1.4;
            span {
                color: var(--primary);
            }
        }
        p:first-of-type {
            font-size: 1.31rem;
            margin-bottom: 0.5rem;
        }
        p:last-of-type {
            color: #9f9f9f;
            font-size: 1rem;
            margin: 0 8rem;
            margin-bottom: 1.5rem;
        }
    }
    .home-footer {
        position: relative;
        z-index: 10;
        span:first-child {
            margin-bottom: 1rem;
        }
    }
    .actions {
        button {
            width: 10rem;
            margin: 0 0.7rem;
        }
    }
    .svg {
        position: absolute;
        bottom: 0;
        &.left {
            left: 0;
        }
        &.right {
            right: 0;
        }
    }
}
